/*
|--------------------------------------------------------------------------
| Inter — self-hosted
|--------------------------------------------------------------------------
|
| Untitled UI is drawn on Inter, and every metric in the type scale below
| assumes it. The application ran on Instrument Sans before this, fetched at
| build time by laravel-vite-plugin's font helper and self-hosted from the
| bundle. That mechanism is gone with the typeface: two files here carry
| every weight, and they are checked in rather than downloaded during a
| build.
|
| The font is served from our own origin rather than fonts.googleapis.com.
| A Google Fonts stylesheet sends every visitor's IP address to Google
| before the first paint, and the privacy policy tells our customers there
| are no third parties in the page. Two files carry every weight: the
| variable axis is 100-900, so `font-weight: 500` and `600` come out of the
| same 48 KB download rather than one file each.
|
| latin-ext is loaded separately and only fetched when a French page
| actually needs a glyph outside latin — unicode-range does that for us.
|
| Inter is SIL Open Font License 1.1. See public/fonts/inter-OFL.txt.
|
*/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('/fonts/inter-latin-ext.woff2') format('woff2');
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
        U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('/fonts/inter-latin.woff2') format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
